<div class="panel panel-default">
	<div class="panel-heading">Collection - {{info.name || "Anonymous"}}</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input class="form-control" placeholder="nickname" ng-model="info.name" ng-change="info.$save()">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">ID</label>
				<div class="col-lg-10">
					<p class="form-control-static">{{collection.id}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Owner</label>
				<div class="col-lg-10">
					<p class="form-control-static">{{collection.owner}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Writers</label>
				<div class="col-lg-10" ng-repeat="writer in writers">
					<p class="form-control-static">{{writer.id}}</p>
				</div>
			</div>
		</form>

		<div class="panel panel-default">
			<div class="panel-heading">Content</div>
			<div class="panel-body">
				<button type="button" class="btn btn-default">Add Content</button>
				<table class="table">
					<thead>
						<tr>
							<th>Key</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in data">
							<td><a href="/api/collections/{{collection.id}}/data/{{item.key}}">{{item.key}}</a></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
