<div class="panel panel-default">
	<div class="panel-heading">Friends</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-lg-4 control-label">My Passport</label>
				<div class="col-lg-6">
					<pre>{{self.passport}}</pre>
				</div>
			</div>
			<div class="form-group {{recvBlobStatus}}">
				<label class="col-lg-4 control-label">Their Passport</label>
				<div class="col-lg-6">
					<textarea class="form-control" rows="3" placeholder="Paste the passport from a friend here..." ng-model="recvBlob"></textarea>
					<span class="help-block">{{recvBlobError}}</span>
				</div>
			</div>
			<button type="button" class="btn btn-default" ng-click="onAddFriend()">Add Friend</button>
		</form>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>ID</th>
				<th>Host</th>
				<th>Port</th>
				<th>Inbox</th>
				<th>Outbox</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="friend in friends">
				<td><a href="#/friends/{{friend.id}}">{{friend.name || "Anonymous"}}</a></td>
				<td>{{friend.id}}</td>
				<td>{{friend.host}}</td>
				<td>{{friend.port}}</td>
				<td><a href="#/collections/{{friend.sendCid}}">{{friend.sendCid}}</a></td>
				<td><a href="#/collections/{{friend.recvCid}}">{{friend.recvCid}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
